.women {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card-container {
  width: 6rem;
  height: 10.7rem;
}

.card-img {
  width: 6rem;
  height: 9rem;
  position: relative;
  /* border: 1px solid tomato; */
}

.btn-container {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.2rem;
  bottom: 0rem;
  /* border: 1px solid tomato; */
  z-index: -1;
  column-gap: 0.2rem;
}

/* .fav-btn {
} */

.card-container:hover .btn-container {
  display: flex;
  bottom: 0.5rem;
  transition: all 0.25s ease-out;
  z-index: 1;
}
.btn-container > div {
  background-color: whitesmoke;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container > div > svg {
  color: #1e272e;

  font-size: 0.5rem;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 0.3rem;
  font-family: Mulish, Open Sans, sans-serif;
  display: flex;
  justify-content: flex-start;
}

.card-price {
  font-size: 0.4rem;
  font-family: Mulish, Open Sans, sans-serif;
  display: flex;
  justify-content: flex-start;
}

.card-stars {
  display: flex;
  font-size: 0.28rem;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.15rem;
}
