.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid tomato; */
  height: calc(100% - 1.8rem);
  width: 100%;
  position: absolute;
}

.detail-container {
  width: 22rem;
  height: 13rem;
  border: 1.5px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-left-side > img {
  width: 8rem;
  height: 12rem;
  padding: 0 !important;
  margin: 0 !important;
  /* border: 1px solid gold; */
}

.detail-left-side {
  /* border: 1px solid tomato; */
  height: 12rem;
  /* width: 8.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.detail-right-side {
  /* border: 1px solid green; */
  width: 8.5rem;
  height: 12rem;
  padding: 1rem;
  text-align: left;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  background-color: #F0EEED;
}

.detail-name {
  /* border: 1px solid black; */
  font-size: 0.46rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 1.5px solid silver;
}

.detail-desc {
  font-size: 0.3rem;
  text-align: left;
  /* border: 1px solid black; */
  color: rgb(78, 78, 78);
}

.detail-price {
  font-size: 0.5rem;
  /* border: 1px solid black; */
  font-weight: 400;
  text-align: left;
}

.detail-btn-cont {
  display: flex;
  gap: 0.2rem;
}

.detail-btn {
  width: 6rem;
  height: 1rem;
  font-size: 0.35rem;
  /* border: 1px solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
  background-color: #434242;
  cursor: pointer;
  color: white;
}
.fav-btn {
  width: 1.4rem;
  height: 1rem;
  font-size: 0.35rem;
  /* border: 1px solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
  background-color:#434242;
  cursor: pointer;
}

.detail-btn > svg {
  font-size: 0.45rem;
  color: white;
}

.fav-btn > svg {
  font-size: 0.65rem;
  color: white;
}

.detail-btn:hover {
  background-color: rgb(180, 180, 180);
}
