.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-images {
  display: flex;
  padding: 0.6rem 0 0.6rem 0;
  width: 100%;
  justify-content: center;
  gap: 0.3rem;
  /* border: 1px solid tomato; */
}

.home-navigation {
  display: flex;
  align-items: center;
  font-family: "Graduate", cursive;
  font-size: 0.4rem;
  font-weight: bold;
  /* border: 1px solid tomato; */
  width: 100%;
  justify-content: space-between;
  padding: 0 0.7rem 0 0.7rem;
}

.home-navigation > div {
  display: flex;
  column-gap: 0.7rem;
}

.box1 {
  width: 42%;
  height: 10rem;
}

.box1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box2 {
  width: 27%;
  height: 10rem;
}

.box2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box3 {
  width: 100%;
  height: 4.9rem;
}

.box3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box4 {
  width: 100%;
  height: 4.9rem;
}

.box4 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box34 {
  width: 26%;
}
