.navbar {
  width: 100%;
  height: 1.8rem;
  background-color: rgb(248, 247, 246);
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-bottom: 3px solid #ccc;
}

.nav-logo {
  font-family: "Black Ops One", cursive;
  /* border: 1px solid tomato; */
}

.navigation {
  font-size: 0.4rem;
  font-weight: bolder;
  display: flex;
  font-family: "Graduate", cursive;
  gap: 0.6rem;
  margin-left: 4rem;
  /* border: 1px solid tomato; */
}

a,
svg {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-right-side {
  display: flex;
  font-size: 0.4rem;
  margin-left: auto;
  align-items: center;
  gap: 0.4rem;
  /* border: 1px solid tomato; */
}

.log-reg {
  font-family: "Graduate", cursive;
  font-size: 0.3rem;
}

.nav-input {
  outline: none;
  width: 0.00001rem;
  border-radius: 0.1rem;
  border: none;
  transition: all 0.15s ease-out;
}

.searchicon:hover ~ .nav-input,
.nav-input:hover {
  display: block;
  width: 5rem;
  border: 1px solid #ccc;
  padding-left: 0.3rem;
  padding-bottom: 0.04rem;
  border-radius: 0.1rem;
  height: 0.6rem;
  border-radius: 0.1rem;
}

.nav-input::placeholder {
  font-size: 0.35rem;
}

/* .offinput {
  display: none;
} */
