.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
}

.register-container {
  width: 60%;
  height: 65%;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.3rem;
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
  background-color: whitesmoke;
}

.register-form {
  width: 35%;
  height: 80%;
  /* border: 1px solid tomato; */
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  padding: 0.4rem;
}

.register-img {
  width: 65%;
  height: 100%;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.register-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.register-logo {
  font-family: "Black Ops One", cursive;
  font-size: 0.6rem;
  display: flex;
  justify-content: flex-start;
}

.register-header {
  display: flex;
  justify-content: flex-start;
  font-size: 0.35rem;
  font-family: "Graduate", cursive;
}

input {
  font-size: 0.4rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
  outline: none;
  background-color: whitesmoke;
}

.register-button {
  background-color: black;
  color: whitesmoke;
  font-size: 0.3rem;
  font-family: "Graduate", cursive;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.register-acc {
  /* border: 1px solid tomato; */
  font-size: 0.21rem;
  font-family: "Graduate", cursive;
  font-weight: bolder;
}

.sign-text {
  font-size: 0.2rem;
  color: rgb(97, 97, 97);
  font-family: "Graduate", cursive;
  font-weight: 100;
}

.sign-text > span {
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.1rem;
}
